{% extends 'base.html.twig' %}

{% block title %}Liste du matériel{% endblock %}

{% block body %}

<div class="example-wrapper">
<h1 class="display-3">materials</h1>
    <h1>Hello {{ controller_name }}! ✅</h1>

    {# {% for material in materials %}
		<ul>
			<li><a href="">{{ material.name|upper }}</a></li>
		</ul>
	{% endfor %} #}
</div>
{% endblock %}
