{% extends 'base.html.twig' %}

{% block title %}Liste du matériel
{% endblock %}

{% block body %}

	<div class="px-4">
		<h1 class="display-3">Stock de materiel</h1>

		<table style="width: 100%" id="material-list" class="table table-hover table-striped">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nom</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix HT</th>
					<th scope="col">prix TTC</th>
					<th scope="col">Date de création</th>
				</tr>
			</thead>
			<tfooter>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nom</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix HT</th>
					<th scope="col">prix TTC</th>
					<th scope="col">Date de création</th>
				</tr>
			</tfooter>
		</table>
	</div>
	<script>
		let url_path = "{{ url('app_material_index') }}"
	</script>
{% endblock %}
