{% extends 'base.html.twig' %}

{% block title %}Modification
{% endblock %}

{% block body %}

	<div class="px-4">
		<h1 class="display-3">Modifier</h1>
        
        {% include "partials/_form.html.twig"  with {form : form} %}
        
	</div>
	<script>
    let url_path = "{{ url('app_material_index') }}"
	</script>
{% endblock %}