<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message d'Alerte</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="background-color: #f8d7da; padding: 20px;">
        <h2 style="color: #721c24;">Alerte sur les stocks!</h2>
        <p style="color: #721c24;">Nous vous informons que les stocks du produit : "{{material_name}}" sont épuisées. </p>
        <p style="color: #721c24;">Veuillez vérifier et reconstituer les stocks dès que possible pour éviter toute rupture.</p>
        <p style="color: #721c24;">Merci de votre attention et de votre action rapide.</p>
    </div>

</body>
</html>
